## Customize flags given to the VM: https://www.erlang.org/doc/man/erl.html
## Do not set -name or -sname here. Nerves handles those for you.

## Increase number of concurrent ports/sockets
+Q 65536

## Tweak GC to run more often
-env ERL_FULLSWEEP_AFTER 10

## Use Ctrl-C to exit the IEx prompt
+Bi
