# erlinit.config for test_app

-m /dev/mmcblk0p1:/boot:vfat::
-m tmpfs:/tmp:tmpfs:nodev,nosuid:size=1000M,mode=1777
-m tmpfs:/run:tmpfs:nodev,nosuid:size=32M,mode=0755
-m tmpfs:/dev/shm:tmpfs:nodev,nosuid,noexec:size=256M,mode=1777

-n rock5t
-c ttyS2

--graceful-shutdown-timeout 10000

-e LANG=en_US.UTF-8
-e ERL_CRASH_DUMP=/tmp/erl_crash.dump

--release-path /srv/erlang

--verbose
